.chat {
    display: flex;
    width: 100%;
    height: 100%;
}
.chat__sidebar {
    flex-grow: 0;
    width: 320px;
    background-color: #C7F1DD;
    padding: 0 8px;
}
.chat__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat__body-empty {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.link__profile {
    width: 100%;
    text-align: right;
}
.link__profile__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}
.link__profile__text::after {
    content: '→';
}

.sidebar__item {
    margin: 10px 0;
}
.search {
    position: relative;
}
.search__icon {
    width: 0;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
}
.search__icon::before {
    display: inline-block;
    content: url('./svg/magnifier.svg');
    width: 15px;
    height: 15px;
    
}
.search__icon::after {
    display: inline-block;
    content: 'Найти';
    font-size: 13px;
    color: #999999;
    margin: 0 5px;
}
.search__input {
    width: 100%;
    height: 30px;
    background: #fff;
    border: 1px solid #888888;
    border-radius: 5px;
    padding-left: 23px;
}
.search__input:focus + .search__icon::after{
    display: none;
}
.search__input:focus + .search__icon{
    margin: auto;
    left: 13px;
    right: auto;
}
.chat__body__text-empty {
    color: #999999;
}

.chat__scroll-bar {
    display: flex;
    flex-direction: column;
}
.user__card {
    display: flex;
    justify-content: space-between;
    background-color: rgba(196, 196, 196, 0.31);
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 15px;
    margin: 7px 0;
}
.card__info {
    display: inline-flex;
    align-items: center;
}
.card__info__left {
    margin-right: 5px;
}
.card__info__right {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}
.card__info__logo {
    width: 50px;
    height: 50px;
    background: #878787;
    border: 1px solid #000000;
    border-radius: 100%;
}
.card__info__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 5px;
}
.card__info__last-msg {
    font-size: 13px;
    line-height: 13px;
    color: #797979;
    margin-top: 5px;
}
.card__info__last-msg-you {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #000;
    margin-right: 2px;
}
.card__alert__date {
    font-size: 10px;
}
.card__alert__circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B15C;
}
.card__alert__number {
    color: #fff;
    font-size: 13px;
}
.card__alert {
    display: flex;
    padding: 5px 0;
}
.card__alert__new-msg {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*chat selected*/
.user__card-active {
    background: #71EBB0;
    border: 1px solid #070707;
}
.chat__body-active {

}
.chat__header {
    background-color: #f2f2f2;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat__msg {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.chat__footer {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}
.footer__input {
    width: 100%;
    background-color: #cfcfcf;
    border: none;
    padding: 10px;
    border-radius: 15px;
    margin: 0 10px;
}

.footer__attach {
    width: 30px;
    height: 30px;
    background: url('./svg/paperclip.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.user__msg-block {
    align-self: flex-start;
    width: 380px;
    margin: 15px 0;
    display: inline-flex;
    justify-content: flex-start;
}
.own__msg-block {
    align-self: flex-end;
    width: 380px;
    margin: 15px 0;
    display: inline-flex;
    justify-content: flex-end;
    
}
.user__msg {
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 10px;
    position: relative;
    display: inline-flex;
}
.own__msg {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    background-color: #C7F1DD;
    padding: 10px;
    position: relative;
    display: inline-flex;
}
.msg__text {
    font-weight: 500;
    font-size: 12px;
}
.msg__date {
    font-size: 9px;
    color: #999999;
    align-self: flex-end;
    margin: 0 5px;
}
.left__menu {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.left__menu::before {
    position: absolute;
    content: '...';
    writing-mode: tb-rl;
    font-weight: bold;
    font-size: 19px;
    word-spacing: -1px;
}

.left__menu:hover {
    background-color: #cfcfcf;
}
.left__menu:hover::before{
    color: #00B15C;
}
.menu__item {
    font-size: 12px;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    margin: 10px 0;
    white-space: nowrap;
}

.menu__icon-writing {
    background: url('./svg/writing.svg') no-repeat;
}
.menu__icon-delete {
    background: url('./svg/delete.svg') no-repeat;
}
.menu__icon-image {
    background: url('./svg/image.svg') no-repeat;
}
.menu__icon-newfile {
    background: url('./svg/newfile.svg') no-repeat;
}
.menu__icon-dot {
    background: url('./svg/dot.svg') no-repeat;
}
.menu__icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    background-size: 100%;
}
.menu__modal {
    display: none;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}
.left__menu__active {
    display: block;
    position: absolute;
    top: 100%;
}
.attach__menu {
    position: relative;
}
.attach__menu__active {
    display: block;
    position: absolute;
    bottom: 100%;
}